
<div class="">
    <div class="footer d-md-flex p-md-5 justify-content-md-around  text-md-center contact ">
        <div class="ms-md-5 ps-md-5">
            <h3 class="m-md-3">LOCATION</h3>
            <p class="m-md-1">2215 John Daniel Drive
                <br><br>
                Clark, MO 65243
            </p>
        </div>
        <div>
            <h3 class="m-md-3">AROUND THE WEB</h3>
            <div class="icons m-md-3">
                <i class="m-md-1 fa-brands fa-facebook"></i>
                <i class=" m-md-1 fa-brands fa-twitter"></i>
                <i class=" m-md-1 fa-brands fa-linkedin-in"></i>
                <i class=" m-md-1 fa-solid fa-globe"></i>
            </div>
        </div>
        <div>
            <h3 class="m-md-3">ABOUT FREELANCER</h3>
            <p class="m-md-1">
                Freelance is a free to use, licensed Bootstrap theme created<br> by Route</p>
        </div>

    </div>

    <div class="text-md-center foot align-items-md-center d-md-flex justify-content-md-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</div>