<div class="text-md-center d-md-flex align-items-md-center  justify-content-md-center about">
    <div class="">
        <h1 class="fw-bolder">ABOUT COMPONENT</h1>
        <div class="w-100 text-md-center d-md-flex  justify-content-md-center align-items-md-center ">
            <div class="line"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line"></div>

        </div>
        <div class="d-md-flex justify-content-md-center align-items-md-center">

            <div class="d-md-flex col-md-9 text-md-start ">
                <p class=" w-100 m-md-3">Freelancer is a free bootstrap theme created by Route. The download
                    includes
                    the
                    complete source files including
                    HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                </p>

                <p class=" w-100 m-md-3 text-md-start">Freelancer is a free bootstrap theme created by Route. The download
                    includes the
                    complete source files including
                    HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

                </p>
            </div>
        </div>
    </div>
</div>