
<nav class="  p-md-3 title d-md-flex justify-content-md-between align-items-md-center ps-md-5 pe-md-5 fs-5">
    <h2 class="ms-md-5 fw-bolder text-white m-md-4 nav" routerLink="home">START FRAMEWORK
    </h2>
    <div class="navbar-expand-md text-white fw-bolder d-md-flex list-unstyled align-items-md-center pe-md-5 ">
        <a class="nav-link m-md-3" routerLink="about" routerLinkActive=" rounded-2 bg padding">About</a>
        <a class="nav-link m-md-3" routerLink="portfolio" routerLinkActive=" rounded-2 bg padding">Portfolio</a>
        <a class="nav-link m-md-3" routerLink="contact" routerLinkActive=" rounded-2 padding bg">Contact</a>
        <a class="nav-link m-md-3" routerLink="gallery" routerLinkActive=" rounded-2 padding bg">Gallery</a>
    </div>
  
</nav>