
.line{
    width: 80px;
    height: 5px;
    background-color: black;
    margin: 20px;
}

.color{
    color: #2c3e50;

}
.skyColor{
    background-color: #1abc9c;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    margin: 20px;
}