<h1 class="text-md-center mt-md-4 fw-bold color">CONTACT SECTION
</h1>

<div class=" color w-100 text-md-center d-md-flex justify-content-md-center align-items-md-center ">
    <div class="color line"></div>
    <i class="color fa-solid fa-star"></i>
    <div class="color line"></div>

</div>
<div class="ms-md-5 d-md-flex align-items-md-center justify-content-md-center">
    <div class="ms-md-5">

        <input class="col-md-10 border-end-0 border-start-0 border-top-0 border-light-subtle p-md-2 m-md-3"
            placeholder="User Name" type="text">
        <input class="col-md-10 border-end-0 border-start-0 border-top-0 border-light-subtle p-md-2 m-md-3"
            placeholder="User Age" type="text">
        <input class="col-md-10 border-end-0 border-start-0 border-top-0 border-light-subtle p-md-2 m-md-3"
            placeholder="User Email" type="email">
        <input class="col-md-10 border-end-0 border-start-0 border-top-0 border-light-subtle p-md-2 m-md-3"
            placeholder="User Password" type="pa">
        <div> <button class="skyColor mb-md-5">Send Message</button>
        </div>
    </div>
</div>