

<div class="gallery mt-md-5 mb-md-5">
    <div class="container d-md-flex justify-content-md-center align-items-md-center flex-wrap gap-md-5 ">
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/3.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/2.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/1.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/2.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/3.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/1.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
        <div class="card col-md-3 text-md-center">
            <img src="../../assets/images/2.png">
            <h2>product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, assumenda.</p>
        </div>
    </div>
</div>