<h1 class="text-md-center mt-md-4 fw-bold">PORTFOLIO COMPONENT
</h1>

<div class="w-100 text-md-center d-md-flex justify-content-md-center align-items-md-center ">
    <div class="line"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line"></div>

</div>
<div class="d-md-flex justify-content-md-center align-items-md-center container">
    <div class=" mt-md-0 cards   ">

        <img class="rounded-3 img-fluid col-md-3 ms-md-5 mb-md-5 " src="../../assets/images/1.png">
        <img class="rounded-3 img-fluid col-md-3 ms-md-5 mb-md-5" src="../../assets/images/2.png">
        <img class="rounded-3 img-fluid col-md-3 ms-md-5 mb-md-5" src="../../assets/images/3.png">
        <img class="rounded-3 img-fluid col-md-3 ms-md-5" src="../../assets/images/1.png">
        <img class="rounded-3 img-fluid col-md-3 ms-md-5" src="../../assets/images/2.png">
        <img class="rounded-3 img-fluid col-md-3 ms-md-5" src="../../assets/images/3.png">
    </div>
</div>