<div class="homepage">
    <div class="home text-md-center pt-md-5">
        <img class="m-md-3 pt-md-5" src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg">
        <h1 class="">START FRAMEWORK</h1>


        <div class="w-100 text-md-center d-md-flex justify-content-md-center align-items-md-center ">
            <div class="line"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line"></div>

        </div>

        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
   
</div>